* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5vw; 
    /* Adds a bit of padding to prevent content from touching the edges */
}
